/*Cart */

.cart {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .cartItemsContainer {
    max-height: 250px; /* Adjust the max-height as needed */
    overflow-y: auto;
  }
  
  .cartItem {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .cartItem:last-child {
    border-bottom: none;
  }
  
  .button {
    margin-left: 5px;
  }

  .cartWrapper {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 20px; /* Adjust the top offset as needed */
  }
  