.card {
  position: relative;
}

.welcome {
  font-weight: bolder;
  text-align: center;
  padding: 5px;
  background-color: #ffc107;
}

.form {
  position: absolute;
  background-color: #ffc107;
  filter: opacity(90%);
  width: 50%;
  top: 40%;
  left: 40px;
  border-radius: 50%;
}
